{{template "base.html" .}}

{{define "content"}}
<div class="container-fluid vh-100 py-3">
    <div class="row h-100">
        <!-- List Chats -->
        <div class="col-3 h-100">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Chats</h5>
                </div>
                <div class="list-group list-group-flush overflow-auto"
                    hx-ext="sse"
                    sse-connect="/sse/chats"
                    sse-close="closeChat"
                    sse-swap="chats"
                    hx-swap="innerHTML">
                    {{range .Chats}}
                      {{template "chat_title" .}}
                    {{end}}
                </div>
            </div>
        </div>
        <!-- Chat Messages Container -->
        <div class="col-9 h-100" id="chat-container">
            {{if .CurrentChatID}}
              {{template "chatbox" .}}
            {{else}}
              {{template "welcome" .}}
            {{end}}
        </div>
    </div>
</div>
{{end}}
